.flex {
  display: flex;
  flex-wrap: wrap;
}
ul {
  width: 1080px;
  margin: 0 auto;
  justify-content: space-between;
}
ul li {
  width: 340px;
  list-style-type: none;
}
ul li img {
  width: 100%;
  height: auto;
}

